@model PackageViewModel

@{
    if (Model?.Package == null) return;
}

<div class="col-md-4 mb-4 packageItem"
     data-packageid="@Model.Package.NuGetPackageId @Model.Package.Name @Model.Package?.Authors @Model.Package?.Category?.Name">
    <div class="card @(Model.IsChecked ? "selected" : null)" style="min-height: 100%;">
        <input type="checkbox" class="card-checkbox" name="package" id="package_@Model.PackageId"
               value="@(Model.Package?.NuGetPackageId ?? "")" checked="@(Model.IsChecked ? "checked" : null)"/>
        <label for="package_@Model.PackageId" class="card-label">
            <div class="card-image">
                <img src="@(Model.Package?.Image ?? "")?width=100" alt="@(Model.Package?.Name ?? "uknown")" loading="lazy"/>
            </div>
            <div class="card-body p-4">
                <h3 class="card-title"><a href="@(Model.Package?.Url ?? "#")" target="_blank"
                                          rel="noopener">@(Model.Package?.Name ?? "unknown")</a></h3>
                <p class="card-text">@(Model.Package?.Summary.Truncate(127) ?? "")</p>
                <p>
                    <small>By: <strong>@(Model.Package?.Authors ?? "unknown")</strong></small><br/>
                    <small>Downloads: <strong>@string.Format("{0:n0}", Model.Downloads)</strong></small>
                </p>
            </div>
        </label>
        <div class="card-actions">
            @if (Model.Package != null)
            {
                <div class="dropdown-outer form-group">
                    <label asp-for="@Model.Package.SelectedVersion" class="w-25 float-start mt-1"></label>
                    @if (Model.Package.PackageVersions != null && Model.Package.PackageVersions.Any())
                    {
                        <select class="form-control" id="PackageVersion_@Model.PackageId"
                                name="PackageVersion_@Model.PackageId">
                            <option selected="@(Model.Package.SelectedVersion == "" ? "selected" : null)" value="">
                                Latest
                                Stable
                            </option>
                            <option selected="@(Model.Package.SelectedVersion == "--prerelease" ? "selected" : null)"
                                    value="--prerelease">Pre-release
                            </option>
                            @foreach (var version in Model.Package.PackageVersions)
                            {
                                <option selected="@(Model.Package.SelectedVersion == version ? "selected" : null)"
                                        value="@version">@version</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="form-control" id="PackageVersion_@Model.PackageId"
                                name="PackageVersion_@Model.PackageId" disabled="disabled">
                            <option selected="@(Model?.Package?.SelectedVersion == "" ? "selected" : null)" value="">
                                Latest
                                Stable
                            </option>
                            <option selected="@(Model?.Package?.SelectedVersion == "--prerelease" ? "selected" : null)"
                                    value="--prerelease">Pre-release
                            </option>
                        </select>
                    }
                </div>
            }
        </div>
    </div>
</div>

<style>
    .card {
        position: relative;
        cursor: pointer;
    }
    .card-checkbox {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .card .card-body, .card .card-image {
        pointer-events: none;
    }

    /* Add any additional styling here */
</style>